Application/Time Tracking Libraries==(version):
click==8.1.3

Technical Libraries==(version):
numpy==1.22
scipy==1.8.1
matplotlib==3.5.2
seaborn==0.11.2
pandas==1.4.2
pptx==0.6.21

Built-in Libraries (no installation required):
glob 
json 
logging 
os